/* 
Main.css

Note: Nested classes are really useful but not used here to keep
compatability with older browsers
*/

:root {

    --page-bg: #fdfdfd;
    --nav-bg: #f9fafb;
    --unit-bg: #fafafa;

    --uni-blue: #1479f2;
    --uni-light-blue: #9cade9;
    --uni-light-gray: #e5e7eb;
    --uni-very-light-blue: #ccebf6;
    --uni-purple: #b789e5;

    --uni-gray: #a0a0a0;

    --nav-width: 5vw;
}


body {
    background-color: var(--page-bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    font-family: Noto Sans, -apple-system, system-ui;
}

/* Navbar styling */
nav {
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-bg);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding: 0.5rem;
}

.nav-logo {
    border-bottom: 2px solid var(--uni-light-gray);
    margin-bottom: 1rem;
}

.nav-logo img {
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 80%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 10pt;
    margin: 0.5rem;
}

nav svg {
    width: 50%;
}

nav svg.rot {
    transform: rotate(-90deg) scaleX(-1);
}

nav hr {
    margin-top: auto;
}

/* Main content styling */
main {
    margin-left: calc(var(--nav-width) + 2vw);
    width: 100%;
}

.inner-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

/* Title part */
.title-container {
    display: flex;
    flex-direction: column;
}

.unilectives-title {
    font-weight: bold;
    color: var(--uni-blue);
    font-size: 4rem;
    margin-top: 0.5rem
}

.unilectives-subtitle {
    font-weight: bold;
}

/* Searchbar */
.search-container {
    height: 2rem;
    border: 2px solid var(--uni-light-blue);
    color: var(--uni-light-blue);
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.search-container svg {
    height: 80%;
    margin-left: 0.2rem;
    margin-right: 0.6rem;
}

.search-container input {
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    color: var(--uni-light-blue);
    font-weight: 600;
}

.search-container input:focus {
    outline: none;
}

.search-container input::placeholder {
    color: var(--uni-light-blue);
}

/* Sort styling */
.sort-container {
    border: 2px solid var(--uni-gray);
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    height: 1.5rem;
    margin: 1rem 0;
    color: var(--uni-gray);
    cursor: pointer;
}

.sort-container svg {
    height: 80%;
    color: black;
}


/* Units styling */
.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unit-container {
    width: 20vw;
    min-width: fit-content;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem 1rem;

    background-color: var(--unit-bg);
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;

    cursor: pointer;
}

.unit-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem
}

.unit-code {
    font-weight: bold;
    font-size: 1.5rem;
}

.chip-container {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.chip-container span {
    background-color: var(--uni-very-light-blue);
    border-radius: 2rem;
    margin-right: 0.5rem;
    padding: 4px;
    font-size: small;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
    /* Prevent highlighting stars */
    pointer-events: none;
    user-select: none;
}

.review-label {
    font-size: 1rem;
    font-weight: 500;
}



.review-star {
    /* background-color: var(--uni-purple); */
    background: -webkit-linear-gradient(0deg, var(--uni-purple) 70%, var(--uni-light-gray) 70%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}